@use "./variables" as var;

.about-section {
	align-items: center;
}

.about-content-container {
	gap: 40px;
	width: 80%;

	.img-container {
		width: 100px;
		height: 100px;
		img {
			width: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}
