@use "./variables" as var;

// Background color applied under the about section
.contact-background-color {
	background-color: var.$gray-blue;
}

// Horizontal layout for the text and the form
.contact-flex-container {
	display: flex;
	gap: 30px;
}

// Vertical layout for the text
.contact-text-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-shrink: 3;
}

// Vertical layout for the form
.contact-section-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: calc(100% / 1.5);
}

// Setting the name and email input to sit horizontally beside each other
.visitor-information {
	display: flex;
	flex-direction: row;
	gap: 20px;
	.visitor-information-item {
		width: calc((100% / 2));
		input {
			width: 100%;
		}
	}
}

// General styling for text based inputs
.input-form-style {
	border: 1px solid var.$gray-light;
	padding: 15px;
	border-radius: 5px;
}

// Resizing the textarea element
textarea {
	resize: none;
	height: 200px;
}

// Styling for the submit button input
input[type="submit"] {
	padding: 15px;
	background-color: var.$gray-light;
	border: none;
	width: 200px;
	align-self: flex-end;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.15s, color 0.15s;
}

// Hover and focus effect for the button
button[type="submit"]:hover,
button[type="submit"]:focus {
	background-color: var.$primary;
	color: white;
}

//********************//
// Media query: 825px //
//********************//

@media (max-width: 825px) {
	// Change the direction of which the content is displayed
	.contact-flex-container {
		flex-direction: column;
	}

	.contact-section-form {
		width: 100%;
	}

	// Change the direction of which the content is displayed
	.visitor-information {
		flex-direction: column;
		.visitor-information-item {
			width: 100%;
		}
	}
}
