@use "./variables" as var;

// Layout and styling of the footer
footer {
	background-color: var.$black-background;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

footer p {
	font-size: 1.6rem;
}
