@use "./variables" as var;

html {
	font-size: 62.5%;
}

body {
	position: relative;
}

.wrapper {
	width: 80%;
	max-width: 1300px;
	margin: 0 auto;
}

// Styling for the section.main-project layout
.main-section {
	display: flex;
	flex-direction: column;
	gap: 60px;
	width: 100%;
	.main-section-heading {
		align-self: flex-start;
	}
}

// Add a line divider at the top of an element
.section-divider {
	border-top: 1px solid var.$gray-light;
	margin-top: 100px;
}

// Add margin at the top and bottom of an element
.section-margin {
	margin: 100px 0;
}

// General styling
.center-column-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

// Class which is applied by default and by javascript to hide the navigation menu on smaller screens
.element-closed {
	visibility: hidden;
	opacity: 0;
}

// Class which is applied by javascript when the hamburger menu is clicked to hide the navigation menu
.element-open {
	visibility: visible;
	opacity: 1;
}

//*********************//
// Media query: 1150px //
//*********************//

@media (max-width: 1150px) {
	// Decrease the amount of empty space provided by the wrapper on either side of the page on smaller screens
	.wrapper {
		width: 85%;
	}
}

//********************//
// Media query: 825px //
//********************//

@media (max-width: 825px) {
	.main-section {
		gap: 30px;
	}
	// Add a line divider at the top of an element
	.section-divider {
		border-top: 1px solid var.$gray-light;
		margin-top: 75px;
	}

	// Add margin at the top and bottom of an element
	.section-margin {
		margin: 75px 0;
	}
}
