@use "./variables" as var;

header {
	background: url("../assets/header-bg.jpeg");
	background-size: 100% 100%;
	padding: 25px 0 225px 0;
	border-bottom-left-radius: 250%100px;
	border-bottom-right-radius: 250%100px;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

// Horizontal layout for the navigation bar in thhe header
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

// Horizontal layout for the smaller components of the navigation bar
.nav-bar-container,
.nav-bar-link,
.nav-bar-social {
	display: flex;
	gap: 25px;
}

// Layout for the text container in the header
.header-text-container {
	padding-top: 150px;
	gap: 20px;
	width: 100%;
}

// Layout for the tech stack container
.tech-stack-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: relative;
	bottom: -300px;
	background-color: white;
	padding: 20px 40px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);

	.tech-stack-heading {
		text-align: center;
	}

	.tech-stack-list {
		display: flex;
		justify-content: space-around;
		gap: calc(5px + 1.5vw);
	}

	.tech-stack-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		width: 100px;
	}
}

.hamburger-menu {
	position: absolute;
	visibility: hidden;
}
//*********************//
// Media query: 1150px //
//*********************//

@media (max-width: 1150px) {
	.tech-stack-container {
		width: 100%;

		.tech-stack-item {
			width: 100px;
		}
	}
}

//********************//
// Media query: 825px //
//********************//

@media (max-width: 825px) {
	header {
		padding: 25px 0 0 0;
		height: 100vh;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	// Layout for the text container in the header
	.header-text-container {
		padding-top: 100px;
		gap: 15px;
	}

	.tech-stack-container {
		position: relative;

		top: 75px;

		.tech-stack-list {
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 15px 3px;
		}
		.tech-stack-item {
			width: calc((100% / 3) - 3px);
		}
	}
	.header-nav {
		a {
			flex-shrink: 0;
		}
	}
	.nav-closed {
		visibility: hidden;
	}
	.nav-opened {
		visibility: visible;
	}
	.nav-bar-container {
		flex-direction: column;
		position: absolute;
		background-color: white;
		-webkit-box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);
		// height: 100vh;
		width: 100vw;
		z-index: 1;
		padding: 50px 0px 50px 50px;
		right: 0;
		top: 0;

		.nav-bar-link {
			flex-direction: column;
		}
	}

	// Hamburger menu default (closed)
	.hamburger-menu {
		position: relative;
		visibility: visible;
		height: 25px;
		cursor: pointer;
		z-index: 10;

		.hamburger-line {
			position: relative;
			height: 3px;
			width: 30px;
		}
		.hamburger-line:nth-child(2) {
			top: 15px;
		}
	}
	.hamburger-opened {
		.hamburger-line {
			background-color: var.$gray;
		}
	}
	.hamburger-closed {
		.hamburger-line {
			background-color: white;
		}
	}
}
