@use "./variables" as var;

main {
	padding: 200px 0;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.main-project {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 100%;
	.main-project-heading {
		align-self: flex-start;
	}
}

.project-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
	.project-item {
		height: 350px;
		width: calc((100% / 3) - 6px);
	}
	.img-container {
		height: 100%;
		img {
			object-fit: cover;
			height: 100%;
			border-radius: 5px;
		}
	}
	.project-overlay-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: rgba(0, 0, 0, 0.9);
		position: relative;
		height: 100%;
		width: 100%;
		top: -100%;
		border-radius: 5px;

		padding: 35px 35px;
		opacity: 0;
		transition: opacity 0.15s;
	}

	// Display the overlay on the project preview on hover
	.project-item:hover .project-overlay-item,
	.project-item:focus .project-overlay-item {
		opacity: 1;
	}

	.project-link-list,
	.project-tech-list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 5px;
	}

	.project-link-list {
		gap: 10px 15px;
		a {
			background-color: white;
			color: var.$gray;
			padding: 2px 10px;
			border-radius: 5px;
			width: 45%;
			transition: background-color 0.15s, color 0.15s;
		}
		a:hover {
			background-color: var.$primary;
			color: white;
		}
	}
	.project-overlay-information,
	.project-overlay-detail {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
