@use "./variables" as var;

// Layout of main
main {
	padding: 200px 0 0 0;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

// Styling for the ul.project-list layout
.project-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
	flex-wrap: wrap;
	gap: 8px 0;
	.project-item {
		height: 350px;
		// Change the denominator to adjust number of projects displayed per row
		width: calc((100% / 3) - 6px);
	}
	.img-container {
		height: 100%;
		img {
			object-fit: cover;
			height: 100%;
			border-radius: 5px;
		}
	}
	// Styling for the overall look of the overlay layout
	.project-overlay-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: rgba(0, 0, 0, 0.9);
		position: relative;
		height: 100%;
		width: 100%;
		top: -100%;
		border-radius: 5px;
		padding: 25px 25px;
		// Hiding the overlay element
		opacity: 0;
		transition: opacity 0.15s;
	}

	// Display the overlay element on hover or on focus
	.project-item:hover .project-overlay-item,
	.project-item:focus .project-overlay-item {
		opacity: 1;
	}
}

// Styling for the elements within the overlay
.project-overlay-item {
	.project-link-list,
	.project-tech-list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 5px;
	}
	.project-overlay-information,
	.project-overlay-detail {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	// Adding a separator between each .project-tech-item except for the last one
	.project-tech-item::after {
		content: " |";
	}
	.project-tech-item:last-child::after {
		content: "";
	}

	// Styling for the link which leads to the repository/ live site.
	.project-link-list {
		gap: 10px 15px;
		a {
			background-color: white;
			color: var.$gray;
			padding: 2px 10px;
			border-radius: 5px;
			width: 45%;
			transition: background-color 0.15s, color 0.15s;
		}
		// Changes colour on hover
		a:focus,
		a:hover {
			background-color: var.$primary;
			color: white;
		}
	}
}

//*********************//
// Media query: 1350px //
//*********************//

@media (max-width: 1350px) {
	.project-list {
		.project-item {
			width: calc((100% / 2) - 6px);
		}
	}
}

//********************//
// Media query: 825px //
//********************//

@media (max-width: 825px) {
	main {
		padding: 50px 0 0 0;
	}
	.project-list {
		flex-direction: column;
		gap: 20px;
		.project-item {
			width: 100%;
		}
	}
}
