$primary: rgb(34, 175, 203);

// For text color
$gray: #7c7c7c;

// For text in the project overlay
$gray-transparent: rgba(255, 255, 255, 0.7);

// For lines (Dividers and borders)
$gray-light: #dce0e4;

// For background colour of the contact section
$gray-blue: #f1f5f9;

// For background colour of the footer
$black-background: #181c20;

// For text color
$black: #121518;
