html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
}

a,
p,
li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

h1 {
  font-weight: 500;
}

.text-white {
  color: white;
}

.nav-item a:focus,
.nav-item a:hover {
  border-bottom: 4px solid rgba(254, 254, 254, 0.5);
}

.logo {
  font-size: 2.8rem;
}

.main-project-heading,
.header-greeting {
  font-size: 4rem;
  font-weight: 300;
}

.main-project-heading {
  color: #121518;
}

.tech-stack-heading,
.tech-stack-item p,
.tech-stack-item i {
  color: gray;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.tech-stack-item:hover p,
.tech-stack-item:hover i {
  color: rgb(40, 197, 228);
}

.project-title-heading,
.tech-stack-heading {
  font-weight: 400;
  font-size: 2.2rem;
}

.tech-stack-item i {
  font-size: 3rem;
}

p {
  letter-spacing: 1.25px;
  font-weight: 300;
  line-height: 2.4rem;
}

.project-tech-item,
.project-overlay-item p {
  color: rgba(255, 255, 255, 0.7);
}

main {
  padding: 200px 0;
}
main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
}
.main-project .main-project-heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}
.project-list .project-item {
  height: 350px;
  width: calc(33.3333333333% - 6px);
}
.project-list .img-container {
  height: 100%;
}
.project-list .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 5px;
}
.project-list .project-overlay-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  height: 100%;
  width: 100%;
  top: -100%;
  border-radius: 5px;
  padding: 35px 35px;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
.project-list .project-item:hover .project-overlay-item,
.project-list .project-item:focus .project-overlay-item {
  opacity: 1;
}
.project-list .project-link-list,
.project-list .project-tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 5px;
}
.project-list .project-link-list {
  gap: 10px 15px;
}
.project-list .project-link-list a {
  background-color: white;
  color: #7c7c7c;
  padding: 2px 10px;
  border-radius: 5px;
  width: 45%;
  -webkit-transition: background-color 0.15s, color 0.15s;
  transition: background-color 0.15s, color 0.15s;
}
.project-list .project-link-list a:hover {
  background-color: rgb(40, 197, 228);
  color: white;
}
.project-list .project-overlay-information,
.project-list .project-overlay-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
header {
  background: url("../assets/21-07-16_19.jpeg");
  background-size: 100% 100%;
  padding: 25px 0 225px;
  position: relative;
  border-bottom-left-radius: 250% 100px;
  border-bottom-right-radius: 250% 100px;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.header-nav .nav-bar-container,
.header-nav .nav-bar-link,
.header-nav .nav-bar-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.header-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 150px;
  gap: 20px;
  width: 100%;
}

.tech-stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -15%;
}
.tech-stack-container .tech-stack-heading {
  text-align: center;
}
.tech-stack-container .tech-stack-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: calc(5px + 1.5vw);
}
.tech-stack-container .tech-stack-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 100px;
}